* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Volkhov", serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(50, 16, 255, 1) 0%,
    rgba(98, 115, 255, 1) 100%
  );
}
